:root {
    --pagefont: "DM Sans", sans-serif;
    --linkcolor: #a192dd;
    --backgroundcolor: #24242E;
    --fontawesomecolor: #ffffff;
    --fontcolor: #b6b6b6;
    --descriptioncolor: #ffffff;
    --buttoncolor: #4f4f57;
    --bordercolor: #ffffff;
    --buttonwidth: 50px;
    --buttonheight: 50px;
    --p1: xx-small;
    --p2: small;
}

body {
    padding: 25px;
    font-family: var(--pagefont);
    background-color: var(--backgroundcolor);
    color: var(--fontcolor);
}

button {
    width: var(--buttonwidth);
    height: var(--buttonheight);
    background-color: var(--buttoncolor);
    border: solid 1px var(--bordercolor);
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
}

hr {
    border-color: var(--bordercolor);
    width: 250px;
}

a {
    color: var(--linkcolor);
}

i {
    color: var(--fontawesomecolor);
    padding-left: 3px;
    padding-right: 5px;
}

.ifont {
    font-family: var(--pagefont);
}

.center {
    text-align: center;
    align-items: center;
}

.p1 {
    font-size: var(--p1);
}

.p2 {
    font-size: var(--p2);
}

.fbold {    
    font-weight: bold;
}

.desc {
    color: var(--descriptioncolor);
}